
#gradle
/.gradle
/build

# intellij
/.idea

# JVM error logs
hs_err_pid*.log

# my little test script that builds the mod, moves it to testing multimc instance and runs it
/test.sh

# a folder with mods to be loaded for local testing
/test-mods
